.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.gridRow {
    display: flex;
    border: 1px solid black;
}
.cell {
    background-color: azure;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}